@charset "UTF-8";
* 
.navbar-toggler-white {
  color: #ffffff;
}
.nav-link {
  color: rgb(255, 255, 255);
}
.navbar-toggler-icon {
  color: rgb(255, 255, 255);
}
.navbar-expand-lg {
  color: #ffffff;
}
.container-fluid {
  color: #ffffff;
}
.navbar-collapse {
  color: rgb(255, 255, 255);
}
.collapse {
  color: rgb(255, 255, 255);
}
.search {
  height: 30px;
}
.header_nav{
  background-color: #000000; 
}
h2 {
  display: flex;
  justify-content: center;
  background-color: #000000;
  color: #8400ff;
}
img:hover{
  transform: scale(1.05, 1.05); 
}
.botonbus {
  height: 30px;
}
.inicio_galeria {
  margin: 9px;
  background-color: #000000;
  display: grid; 
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:"anillosdelpoder creadorbb" 
                      "anillosdelpoder trailerck";
}
.anillosdelpoder {
  grid-area: anillosdelpoder;
  width: 97% ;
  height: 97%;
}
.creadorbb {
  grid-area: creadorbb;
  width: 97%;
  height: 97%;
}
.trailerck {
  grid-area: trailerck;
  width: 97%;
  height: 97%;
}
.carrusel_imagenes {
  height: 350px;
  width: 450px;
  margin: 20px;
}
.recientes_grid {
  margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "lightyearr cazafantasmass"
                          "cinemap merlinatb" ;
}
.lightyearr {
    grid-area: lightyearr;
    width: 92%;
    height: 85%;
}
.cazafantasmass {
    grid-area: cazafantasmass;
    width: 92%;
    height: 85%;
}
.cinemap {
  grid-area: cinemap;
  width: 92%;
  height: 85%;
}
.merlinatb {
  grid-area: merlinatb;
  width: 92%;
  height: 85%;
}
.estrenos_imagenes {
  margin: 16px;
  display: grid;
  grid-template-areas: "thorr topgunn elvis"
 "minions bestia dbsh"; 
}
.thorr {
  grid-area: thorr;
  width: 92%;
  height: 85%;
}
.topgunn {
  grid-area: topgunn;
  width: 90%;
  height: 75%; }

.elvis {
  grid-area: elvis;
  width: 92%;
  height: 85%;}

.minions {
  grid-area: minions;
  width: 92%;
  height: 85%; }
.bestia {
  grid-area: bestia;
  width: 90%;
  height: 75%;;
}
.dbsh {
  grid-area: dbsh;
  width: 92%;
  height: 85%;
}
.titulos {
  display: flex;
  justify-content: center;
  align-items: center; 
  font-family: 'Permanent Marker', cursive;
  color: #f3f042;
  background-color: rgb(0, 0, 0);
  margin: 13px; 
}
.footernav_titulo {
  color: #f3f042;
}
.reseñass_imagenes {
  margin: 15px;
  display: grid;
  grid-template-areas:"peakyblinders strangerthings"
                      "umbrellaacademy sandman"
                      "residente bcs"
                      "lightyear thor"
                      "topgun turnodedia"
                      "supermascotas trenbala"; 
}
.peakyblinders {
  grid-area: peakyblinders;
  width: 95%; 
  height: 95%;
}
.strangerthings {
  grid-area: strangerthings;
  width: 95%; 
  height: 95%;
}
.umbrellaacademy {
  grid-area: umbrellaacademy;
  width: 95%; 
  height: 95%;
}
.residente {
  grid-area: residente;
  width: 95%; 
  height: 95%;
}
.sandman {
  grid-area: sandman;
  width: 95%; 
  height: 95%;
}
.bcs {
  grid-area: bcs;
  width: 95%; 
  height: 95%;
}
.lightyear {
  grid-area: lightyear;
  width: 95%; 
  height: 95%;
}
.thor {
  grid-area: thor;
  width: 95%; 
  height: 95%;
}
.topgun {
  grid-area: topgun;
  width: 95%; 
  height: 95%;
}
.turnodedia {
  grid-area: turnodedia ;
  width: 95%; 
  height: 95%;
}
.supermascotas  {
  grid-area: supermascotas ;
  width: 95%; 
  height: 95%;
}
.trenbala {
  grid-area: trenbala;
  width: 95%; 
  height: 95%;
}
.recomendaciones_imagenes {
  margin: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "disney prime netflix"
                        "estrenos peliculas disneydos"
                        "beats elcamino yourhonor";
}
.disney {
  grid-area: disney;
  width: 90%;
  height: 90%;
}
.prime {
  grid-area: prime;
  width: 90%;
  height: 90%;
}
.netflix {
  grid-area: netflix;
  width: 90%;
  height: 90%;
}
.estrenos {
  grid-area: estrenos;
  width: 90%;
  height: 90%;
}
.peliculas {
  grid-area: peliculas;
  width: 90%;
  height: 90%;
}
.disneydos {
  grid-area: disneydos;
  width: 90%;
  height: 90%;
}
.beats {
  grid-area: beats;
  width: 90%;
  height: 90%;
}
.elcamino {
  grid-area: elcamino;
  width: 90%;
  height: 90%;
}
.yourhonor {
  grid-area: yourhonor;
  width: 90%;
  height: 90%;
}
.alert {
  background-color: #000000;
  color: #f3f042;
}
ul {
  list-style: none;
  padding: 0 16px; 
}
.header_nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1; 
}
.header_items {
  display: inline;
  padding: 80px; 
}
.header_logo {
  display: inline;
  width: 50px;
  height: 50px; 
}
nav {
  background-color: #0f0202; 
}
.header_items a {
  color: #b15eff;
  text-decoration: none; 
}
footer {
  background-color: rgb(0, 0, 0);
  display: grid;
  grid-template-areas: "nav derechos redes";
  padding: 24px; 
}
.footer_redes {
  display: grid;
  grid-template-areas: "instagram spotify twitter";
}
.instagram {
  height: 50px;
  width: 50px;
}
.spotify {
  height: 60px;
  width: 60px;
}
.twitter {
  height: 60px;
  width: 60px;
}
.footer_redes {
  grid-area: redes;
  display: flex;
  justify-content: end;
  align-items: center; 
}
.footer_logo {
  width: 70px;
  height: 70px;
}
.footer_nav ul li {
  color: rgb(255, 255, 255);
  font-size: 16px;
  grid-area: nav; 
}
.footer_derechos {
  color: rgb(255, 255, 255);
  grid-area: derechos;
  display: flex;
  justify-content: center;
  align-items: center; 
}
a {
  text-decoration: none;
  color: rgb(98, 0, 255); 
}
.nosotros_intro {
  padding: 15px;
  background-color: #000000;
  font-size: 27px;
  margin: 55px;
  color: #f3f042; 
}
.comentarios_casillas {
  margin: 16px;
  padding: 0px 300px;
  font-size: 22px; }
.comentarios_casillas.comentarios {
  font-size: 20px; 
}
.navegacion {
  flex: center; 
}
.novedades_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "estrenos tomcruise barbie"
 "hocuspocus ryan titanic" 
 "marilyn pinocho bp2"; 
}
.bc_novedades {
  background-color: #000000;
}
.estrenos {
  grid-area: estrenos;
  width: 97%;
  height: 90%; 
}
.tomcruise {
  grid-area: tomcruise;
  width: 97%;
  height: 90%; 
}
.barbie {
  grid-area: barbie;
  width: 97%;
  height: 90%; 
}
.hocuspocus {
  grid-area: hocuspocus;
  width: 97%;
  height: 90%; 
}
.ryan {
  grid-area: ryan;
  width: 97%;
  height: 90%; 
}
.titanic {
  grid-area: titanic;
  width: 97%;
  height: 90%; 
}
.marilyn {
  grid-area: marilyn;
  width: 97%;
  height: 90%; 
}
.pinocho {
  grid-area: pinocho;
  width: 97%;
  height: 90%; 
}
.bp2 {
  grid-area: bp2;
  width: 97%;
  height: 90%; 
}
.reseñas_botones {
  padding: 16px;
  margin: 12px;
  border: none;
  font-size: 20px; 
}
.pasa_paginas {
  display: flex;
  align-items: center;
  justify-content: center; 
}
.novedades_titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Permanent Marker', cursive;
  color: #5d00b4;
  background-color: #0f0202; 
}
@media (min-width: 320px) and (max-width: 575px) {
  .navbar-toggler {
    color: #ffffff;
  }
  .reseñas_imagenes {
    height: auto;
    width: auto;
    margin: 9px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .peakyblinders {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .strangerthings {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .umbrellaacademy {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .residente {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .sandman {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .bcs {
    grid-column: 1/2;
    grid-row: 6/7;
  }
  .lightyear {
    grid-column: 1/2;
    grid-row: 7/8;
  }
  .thor {
    grid-column: 1/2;
    grid-row: 8/9;
  }
  .topgun {
    grid-column: 1/2;
    grid-row: 9/10;
  }
  .turnodedia {
    grid-column: 1/2;
    grid-row: 10/11;
  }
  .supermascotas  {
    grid-column: 1/2;
    grid-row: 11/12;
  }
  .trenbala {
    grid-column: 1/2;
    grid-row: 12/13;
  }
  .recomendaciones_imagenes {
    margin: 9px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .disney {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .prime {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .netflix {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .estrenos {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .peliculas {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .disneydos {
    grid-column: 1/2;
    grid-row: 6/7;
  }
  .beats {
    grid-column: 1/2;
    grid-row: 7/8;
  }
  .elcamino {
    grid-column: 1/2;
    grid-row: 8/9;
  }
  .yourhonor {
    grid-column: 1/2;
    grid-row: 9/10;
  }
  .search {
    height: 30px;
    width: 100px;
  }
  .botonbus {
    height: 18px;
  }
  .inicio_galeria {
    margin: 9px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .anillosdelpoder {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .creadorbb {
    grid-column: 1/2;
    grid-row: 2/3;
  }
    .trailerck {
      grid-column: 1/2;
      grid-row: 3/4;
    }
    .carrusel_imagenes {
      height: auto;
      width: auto;
      margin: 10px;
    }
    .recientes_grid {
      margin: 20px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .lightyearr {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    .cazafantasmass {
      grid-column: 1/2;
      grid-row: 2/3;
    }
    .cinemap {
      grid-column: 1/2;
      grid-row: 3/4;
    }
    .merlinatb {
      grid-column: 1/2;
      grid-row: 4/5;
    }
    .recientes_grid {
      margin: 20px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .lightyearr {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    .cazafantasmass {
      grid-column: 1/2;
      grid-row: 2/3;
    }
    .cinemap {
      grid-column: 1/2;
      grid-row: 3/4;
    }
    .merlinatb {
      grid-column: 1/2;
      grid-row: 4/5;
    }
    .estrenos_imagenes {
      margin: 20px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .thorr {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    .topgunn {
      grid-column: 1/2;
      grid-row: 2/3;
    }
    .elvis {
      grid-column: 1/2;
      grid-row: 3/4;
    }
    .minions {
      grid-column: 1/2;
      grid-row: 4/5;
    }
    .bestia {
      grid-column: 1/2;
      grid-row: 5/6;
    }
    .dbsh {
      grid-column: 1/2;
      grid-row: 6/7;
    }
    .novedades_grid {
      height: auto;
      width: auto;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr; }
    .estrenos {
      grid-column: 1/2;
      grid-row: 1/2; }
    .tomcruise {
      grid-column: 1/2;
      grid-row: 2/3; }
    .barbie {
      grid-column: 1/2;
      grid-row: 3/4; }
    .hocuspocus {
      grid-column: 1/2;
      grid-row: 4/5; }
    .ryan {
      grid-column: 1/2;
      grid-row: 5/6; }
    .titanic {
      grid-column: 1/2;
      grid-row: 6/7; }
    .marilyn {
      grid-column: 1/2;
      grid-row: 7/8; }
    .pinocho {
      grid-column: 1/2;
      grid-row: 8/9; }
    .bp2 {
      grid-column: 1/2;
      grid-row: 9/10; 
    } 
    
    .footer_redes {
      flex-direction: column;
    }
    .instagram {
      height: 30px;
      width: 30px;
    }
    .spotify {
      height: 30px;
      width: 30px;
    }
    .twitter {
      height: 30px;
      width: 30px;
    }
    .footer_logo {
      width: 40px;
      height: 40px;
    }
    .footer_nav ul li {
      font-size: 10px;
    }
    .footer_derechos {
      font-size: 10px;
      
    }
    .footer_nav ul li {
      font-size: 10px;
    }
  footer {
      padding: 9px;
      grid-template-areas: "nav redes derechos";
    }
    .footernav_titulo {
      font-size: 15px;
    }
  }
@media (min-width: 576px) and (max-width: 992px) {
  .navbar-toggler-white {
    color: #ffffff;
  }
  .recomendaciones_imagenes {
    height: auto;
    width: auto;
    margin: 9px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .disney {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .prime {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .netflix {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .estrenos {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .peliculas {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .disneydos {
    grid-column: 1/2;
    grid-row: 6/7;
  }
  .beats {
    grid-column: 1/2;
    grid-row: 7/8;
  }
  .elcamino {
    grid-column: 1/2;
    grid-row: 8/9;
  }
  .yourhonor {
    grid-column: 1/2;
    grid-row: 9/10;
  }
  .search {
    height: 50px;
    width: 250px;
  }
  .botonbus {
    height: 18px;
  }
  .inicio_galeria {
    margin: 9px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .anillosdelpoder {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .creadorbb {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .trailerck {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .carrusel_imagenes {
    height: auto;
    width: auto;
    margin: 10px;
  }
  .recientes_grid {
    margin: 20px;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
  }
  .lightyearr {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .cazafantasmass {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .cinemap {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .merlinatb {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .recientes_grid {
    margin: 20px;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
  }
  .lightyearr {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .cazafantasmass {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .cinemap {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .merlinatb {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .estrenos_imagenes {
    margin: 20px;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
  }
  .thorr {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .topgunn {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .elvis {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .minions {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .bestia {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .dbsh {
    grid-column: 1/2;
    grid-row: 6/7;
  }
  .novedades_grid {
    height: auto;
    width: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; }
  .estrenos {
    grid-column: 1/2;
    grid-row: 1/2; }
  .tomcruise {
    grid-column: 1/2;
    grid-row: 2/3; }
  .barbie {
    grid-column: 1/2;
    grid-row: 3/4; }
  .hocuspocus {
    grid-column: 1/2;
    grid-row: 4/5; }
  .ryan {
    grid-column: 1/2;
    grid-row: 5/6; }
  .titanic {
    grid-column: 1/2;
    grid-row: 6/7; }
  .marilyn {
    grid-column: 1/2;
    grid-row: 7/8; }
  .pinocho {
    grid-column: 1/2;
    grid-row: 8/9; }
  .bp2 {
    grid-column: 1/2;
    grid-row: 9/10; 
  } 
    .footer_redes {
      flex-direction: column;
    }
    .instagram {
      height: 40px;
      width: 40px;
    }
    .spotify {
      height: 40px;
      width: 40px;
    }
    .twitter {
      height: 40px;
      width: 40px;
    }
    .footer_logo {
      width: 55px;
      height: 55px;
    }
    .footer_nav ul li {
      font-size: 15px;
    }
    .footer_derechos {
      font-size: 15px;
      
    }
    .footer_nav ul li {
      font-size: 15px;
    }
  footer {
      padding: 15px;
      grid-template-areas: "nav redes derechos";
    }
    .footernav_titulo {
      font-size: 22px;
    }
  }