$titulos:(
    h1: 2.5rem,
    h2: 1.75rem,
    h3: 1.20rem
);
@each $titulo, $tamano en $titulos {
    .tamaño-#{$titulo} {
        font-size: #{tamano};
    }
}
.centrado_flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flex ($flex-direction, $justify, $align) {
    flex-direction: $flex-direction;
    justify-content: $justify;
    align-items: $align;
}